{% extends 'base.html' %}
{% block content %}
    
<h2>先週 "{{time14}}～{{time7}}" の通知</h2>
<!-- <p><td>{{notice_item}}</td></p> -->
<div class="btn_top">
    <a href="/notice/tasklist">
        <button type="button" class="btn1">今週の通知</button>
    </a>
    <a href="/notice/tasklist/nw">
        <button type="button" class="btn1">来週の通知</button>
    </a>
</div>    

<table class="table_list" width="800px">
    <tr>
        <th>アイテム</th>
        <th>前回作業日</th>
        <th>前回作業内容</th>
        <th>通知予定日</th>
    </tr>
    {% for item in nt_list %}  
        
        <tr>
            <td>{{item["item"]}}</td>
            <td>{{item["date"]}}</td>
            <td>{{item["task"]}}</td>
            <td>{{item["notice"]}}</td>
            <!-- <td><a href="/tasklist_niwa/{{item['id']}}">{{item['item']}}</a></td>
            <td><a href="/edit/niwa/{{item['id']}}">編集</a></td> -->
        </tr>

    {% endfor %}
</table>

<a href="/index">
    <button type="button" class="btn1">トップページに戻る</button>
</a>

{% endblock %}