{% extends 'base.html' %}
{% block content %}

<p>"{{id}}. {{item}}"のメンテナンスノート</p>
<!-- <p>table_id: {{id}}</p> -->
<!-- <p>table_name: {{table_name}}</p> -->

<!-- <table border="1"> -->
<!-- tableにclassを追加 thに編集、削除を追加-->
<table class="table_list" width="800px">      
    <thead>
        <tr>
            <th>番号</th>
            <th>作業実施日</th>
            <th>作業内容</th>
            <th>次回通知</th>
            <!-- <th>通知要否</th> -->
            <th></th>
            <th></th>

        </tr>
    </thead>
    {% for item in task_list %}
    <!-- <form action="/edit/tasklist/nt/{{id}}/{{item['taskid']}}" method="POST"> -->
        <tr>
            <td>{{item["taskid"]}}</td>
            <td>{{item["date"]}}</td>
            <td>{{item["task"]}}</td>
            <td>{{item["notice"]}}</td>
            <!-- <td>
               <div>
                    <!-- <input type="checkbox" name="nt_done" value="0" checked="checked">
                        <label>ON</label> -->
                    <!-- <input type="checkbox" name="nt_id" value="1">
                        <label>OFF</label>
                    <input type="submit" value="更新">
                </div> -->
                <!-- <a href="/edit/tasklist/nt/{{id}}/{{item['taskid']}}">不要</a> -->
            <!-- </td> -->
            <td><a href="/edit/tasklist/{{id}}/{{item['taskid']}}" class="btn4">編集</a></td>
            <td><a href="/del/tasklist/{{id}}/{{item['taskid']}}" onclick="return confirm('削除しますか？')" class="btn4">削除</a></td>
        </tr>
    <!-- </form> -->
    {% endfor %}
</table>

<form action="/add/tasklist/{{id}}" method="POST">
    <!-- 上のaction, method は送り先 -->
        <p>作業内容追加</p>
        <!-- <p><input type="text" size="10" maxlength="10" name="date">実施日（yyyy-mm-dd）</p>
        <p><input type="text" size="10" maxlength="200" name="task">作業内容</p>
        <p><input type="text" size="10" maxlength="10" name="notice">次回通知（yyyy-mm-dd）</p>
        <p><input type="submit" value="送信"></p>

        <!-- --------------------6/27フォーム追加 -->
    <div class="Form">

        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>作業実施日</p>
            <input type="date" name="date" class="Form-Item-Input" placeholder="例）2021-1-23">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>作業内容</p>
            <textarea name="task" class="Form-Item-Textarea" placeholder="例）作業色々記入"></textarea>
            </div>        
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>次回通知<br>年/月/日</p>
            <input name="notice" type="date" class="Form-Item-Input" placeholder="例）2021-1-23">
        </div>
            <input type="hidden" value="0" name = "nt_id">
    </div>


<!-- ボタン変更 -->
<div class="form_list2">  
    <button type="submit" class="btn1">新規追加</button>
</div> 

</form>

<div class="btn_top">
    <a href="/list/uti">
        <button type="button" class="btn1">おうちごとリストに戻る</button>
    </a>
    <a href="/list/soto">
        <button type="button" class="btn1">おそとごとリストに戻る</button>
    </a>
</div>            

<div class="btn_top1">
        <!-- <button type="button" class="btn5">トップに戻る</button> -->
        <a href="/index" type="button" class="btn5">トップに戻る</a>
</div>



{% endblock %}