<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="My Maintenance Note"/>
    <meta name="msapplication-square70x70logo" content="small.jpg"/>
    <meta name="msapplication-square150x150logo" content="medium.jpg"/>
    <meta name="msapplication-wide310x150logo" content="wide.jpg"/>	
    <meta name="msapplication-square310x310logo" content="large.jpg"/>
    <meta name="msapplication-TileColor" content="#FAA500"/>
    <title>メンテナンスノート for Winkel</title>
    <link rel="stylesheet" href="/static/css/w_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/common.js"></script>
    <!-- <link rel="icon" type="image/png" href="/akarennga_180.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="https://mymaintenancenote20210703.herokuapp.com/index" type="image/vnd.microsoft.icon"> 
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <!-- <div id="page_top">
            <a class="top" href="/init">Maintenance Note for Winkel</a>
        </div> -->
        <input type="checkbox" id="menu-navibtn">
        <nav id="navi" role="navigation" aria-label="メインメニュー">
            <div>
                <label id="navibtn" for="menu-navibtn">
                <span>
                    <span>メニューを開く</span>
                </span>
            </label>
            <div class="menu-left"><a href="/"><span class="companylogo"><img src="/static/img/winkel.png"></span></a></div>

        <ul id="menu">
            <li class="menu-parent">
                <a class="ib">コンドミニアム</a>
                <input type="checkbox" id="menu-parent01">
                <label for="menu-parent01">
                    <span class="ib pd"><i class="fas angletoggle"></i></span>
                </label>
                <ul class="menu-child">
                    <li><a href="/condo/wakakusa.html">若草</a></li>
                    <li><a href="/condo/ai.html">藍</a></li>
                    <li><a href="/condo/mizuki.html">葉月</a></li>
                    <li><a href="/condo/kurumi.html">胡桃</a></li>
                    <li><a href="/condo/hiyori.html">日和</a></li>
                    <li><a href="/condo/kazabana.html">風花</a></li>
                </ul>
            </li>
            <li class="menu-parent">
                <a class="ib">別荘</a>
                <input type="checkbox" id="menu-parent02">
                <label for="menu-parent02">
                    <span class="id pd"><i class="fas angletoggle"></i></span>
                </label>
                <ul class="menu-child">
                    <li><a href="/condo/A_1.html">A1棟</a></li>
                    <li><a href="/condo/A_2.html">A2棟</a></li>
                </ul>
            </li>
            <li class="menu-parent">
                <a class="ib">キャンプ場</a>
                <input type="checkbox" id="menu-parent03">
                <label for="menu-parent03">
                    <span class="id pd"><i class="fas angletoggle"></i></span>
                </label>
                <ul class="menu-child">
                    <li><a href="/condo/asarigawa.html">朝里川温泉</a></li>
                    <li><a href="/condo/bouyou.html">望洋シャンツェ</a></li>
                </ul>
            </li>
            <li class="menu-parent">
                <a class="ib" href="/notice/tasklist/"><i class="fas fa-envelope-open-text my-orange fa-fw"></i>通知リスト</a>
            </li>
        </ul>
        </div>
        </nav>
    </header>
<!-- 
    <div id="hamburger">
        <span class="inner_line" id="line1"></span>
        <span class="inner_line" id="line2"></span>
        <span class="inner_line" id="line3"></span>
    </div>   -->

    {% block content %}

    <a href="#" class="sc_btn" id="sc_top">↑</a>

    {% endblock %}
    <!-- <p style="background-color: rgb(102, 55, 148); ">これはフッターです</p> -->
</body>

<!-- 追加 -->
<footer>
    <p class="footer">Copyright 赤レンガ 2021</p>
</footer>    

</html>